@model WebForLink.Web.ViewModels.FichaCadastral.FichaCadastralAcompanhamentoVM
<div class="box box-primary">
    <div class="box-header"><h3 class="box-title">Observação</h3></div>
    <div class="box-body">
        <div id="divObservacao">
            <div class="form-group">
                @Model.Observacao
            </div>
        </div>
        <br>
        <div class="clearfix"></div>
    </div>
</div>

