<div class="box box-primary">
    <div class="box-header"><h3 class="box-title">Campo a ser alterado</h3></div>
    <div class="box-body">
        <div class="col-md-6">
            <div class="form-group">
                <label>Visão</label><br />
                <span>Dados Gerais</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Grupo</label><br />
                <span>Endereço</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Grupo</label><br />
                <span>Localidade de residência div.</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Descrição da Alteração</label><br />
                <span>Trocar Localidade de residencia para outro.</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div><!-- /.box-body -->
</div><!-- /.box -->