<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--<appSettings>
    <add key="NomeSistema" value="WebForLink" />
    <add key="Email" value="webforlink@chconsultoria.com.br" />
    <add key="HostEmail" value="mail.chconsultoria.com.br" />
    <add key="PortEmail" value="587" />
    <add key="HostCredential" value="wfl@2016" />
  </appSettings>-->
  <configSections>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>