Code/\.vs

Code/packages/

Code/0_Domain/WebForLink\.Domain/obj/

Code/0_Domain/WebForLink\.Domain/bin/

Code/4_Injection/WebForLink\.CrossCutting/obj/

Code/4_Injection/WebForLink\.CrossCutting/bin/

Code/3_Persistence/3\.2_Repository/WebForLink\.Repository/bin/

Code/3_Persistence/3\.2_Repository/WebForLink\.Repository/obj/

Code/3_Persistence/3\.1_Data/WebForLink\.Data/obj/

Code/3_Persistence/3\.1_Data/WebForLink\.Data/bin/

Code/2_Application/WebForLink\.Service/bin/

Code/2_Application/WebForLink\.Service/obj/

Code/1_Presentation/WebForLink\.Web/bin/

Code/1_Presentation/WebForLink\.Web/obj/

*.suo

*.user

Code/1_Presentation/WebForLink\.Web/Properties/PublishProfiles/

Code/1_Presentation/MasterData\.Web/bin/

Code/1_Presentation/MasterData\.Web/obj/
