<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--<add key="enableSimpleMembership" value="false"/>
    <add key="autoFormsAuthentication" value="false"/>-->
  <add key="NomeSistema" value="WebForLink" />
  <add key="Email" value="webforlink@chconsultoria.com.br" />
  <add key="HostEmail" value="mail.chconsultoria.com.br" />
  <add key="PortEmail" value="587" />
  <add key="CredentialEmail" value="ch123456" />
  <add key="DiretorioCarga" value="CargaSap" />
  <add key="DiretorioCargaBackup" value="CargaSap\\Backup" />
  <add key="DiretorioRetornoSap" value="RetornoSap" />
  <add key="DiretorioRetornoSapBackup" value="RetornoSap\\Backup" />
  <add key="DiretorioAgendaRobo" value="AgendaRobo" />
  <add key="NomeArquivoAgendaRobo" value="AgendaRobo.xml" />
  <add key="AgendaRoboTimeElapse" value="30000" />
  <add key="SintegraToken" value="PORTc-398e-42e4-a266-662c6146652c" />
  <add key="DiretorioAgendaRobo" value="AgendaRobo" />
  <add key="EmailRobo" value="thales.coelho@chconsultoria.com.br" />
  <add key="NomeArquivoAgendaRobo" value="AgendaRobo.xml" />
  <add key="AgendaRoboTimeElapse" value="30000" />
  <add key="LogDeBanco" value="false" />
  <add key="AtivarConsultasFake" value="true" />
  <add key="CabecalhoPlanilhaImportacaoFornecedor" value="CNPJ / CPF, Razão Social / Nome, Nascimento (DD/MM/AAAA), Nome Contato, E-Mail, Telefone, Celular, Novo Fornecedor, Código ERP" />
  <add key="Ambiente" value="Desenvolvimento" />
  <add key="GravaLogAcesso" value="false" />
</appSettings>