<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ChMasterDataEntities"
         connectionString="metadata=res://*/Mapping.NewFolder1.Model1.csdl|res://*/Mapping.NewFolder1.Model1.ssdl|res://*/Mapping.NewFolder1.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ch05;initial catalog=ChMasterData;persist security info=True;user id=sa;password=201512@sa;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="Hmg_ChMasterDataEntities"
         connectionString="metadata=res://*/TestEntities.Modelo.csdl|res://*/TestEntities.Modelo.ssdl|res://*/TestEntities.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=187.45.197.44;initial catalog=Hmg_ChMasterData;persist security info=True;user id=sql_admin;password=TuYX1u_DNlf8h;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>