
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Seus clientes na comunidade</h2>
        <hr class="light">
        <p class="text-faded">Esses são seus clientes que fazem parte do VendorList</p>
    </div>
    @{int cliente = 6;}
    @if (cliente <= 6)
    {
        switch (cliente)
        {
            case 1:
                <div class="col-lg-12 text-center">
                    <div class="container text-center">
                        <div class="row">
                            <div class="item active">
                                <div class="col-md-4 col-md-offset-5 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 2:
                <div class="col-lg-12 text-center">
                    <div class="container text-center">
                        <div class="row">
                            <div class="item active">
                                <div class="col-md-2 col-md-offset-4 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ambev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 3:
                <div class="col-lg-12 text-center">
                    <div class="container text-center">
                        <div class="row">
                            <div class="item active">
                                <div class="col-md-2 col-md-offset-3 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ambev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/andina2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 4:
                <div class="col-lg-12 text-center">
                    <div class="container text-center">
                        <div class="row">
                            <div class="item active">
                                <div class="col-md-2 col-lg-offset-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ambev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/andina2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ceuma5.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 5:
                <div class="col-lg-12 text-center">
                    <div class="container text-center">
                        <div class="row">
                            <div class="item active">
                                <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ambev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/andina2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ceuma5.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/estre.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 6:
                <div class="col-lg-12 text-center">
                    <div class="container text-center">
                        <div class="row">
                            <div class="item active">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ambev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/andina2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ceuma5.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/estre.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ferroeste-1.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            default: //case 0:
                <div class="col-lg-12 text-center">
                    <div class="container text-center">
                        <div class="row" data-interval="7000" id="fruitscarousel">
                            <span>Não há clientes seus na nossa comunidade</span>
                        </div>
                    </div>
                </div>
                break;
        }
    }
    else
    {
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="container text-center">
                    <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="7000" id="fruitscarousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ambev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/andina2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ceuma5.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/clientes-colares-linhares.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/cutrale2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/clientes-colares-linhares.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/cutrale2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div><div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/enesa.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/engie3.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/estre.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ferroeste-1.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/estre.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ferroeste-1.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div><div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/fortlev2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/General motors.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/gp2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/honda.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/honda.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/international paper.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/kimberly clark.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/leao alimentos.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/linde2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/Logo_OCean_cor.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/linde2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/Logo_OCean_cor.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/logo_principal_ferrous.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/multiplan-logo.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/navenor.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ppanema2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/navenor.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ppanema2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/queiroz.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/rigesa.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/rodobens2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/salinor.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/rodobens2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/salinor.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/samarco.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/supergasbras.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/suzano.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/TBG.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/suzano.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/TBG.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/tcp.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/tupy.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/unilever.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/vonpar_alimentos.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/unilever.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/vonpar_alimentos.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/vonpar_bebidas2.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/AB Inbev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <img src="http://prd2.webformat.com.br/root/logos_cli/logos_140x97/ambev.jpg" alt="Chania" width="140" height="97" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

