/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 *
  FROM [webfordocs_hmg].[dbo].[MEU_DOCUMENTOS_COMPARTILHADOS]

SELECT TOP 1000 *
  FROM [webfordocs_hmg].[dbo].[WFD_PJPF_DOCUMENTOS]
  WHERE PJPF_ID = 1312
  
SELECT TOP 1000 *
  FROM [webfordocs_hmg].[dbo].[WFD_PJPF_DOCUMENTOS]
  WHERE PJPF_ID = 1312

SELECT TOP 1000 *
  FROM [webfordocs_hmg].[dbo].[WFD_PJPF]

