
<div class="box box-primary">
    <div class="box-header"><h3 class="box-title">Expandir Para</h3></div>
    <div class="box-body">
        <div class="col-md-6">
            <div class="form-group">
                <label>Empresa</label>
                <span>Genzyme do Brasil Ltda</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Organização de Compras</label>
                <span>BR70 - Org. Compras Genzyme</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div><!-- /.box-body -->
</div><!-- /.box -->

