@model WebForLink.Web.ViewModels.WebForLink.FichaCadastralWebForLinkVM

<div class="box box-primary">
    <div class="box-header"><h3 class="box-title">Controle de Custo</h3></div>
    <div class="box-body">
            
        <div class="col-md-6">
            <div class="form-group">
                <label>Cliente</label>
                <input type="text" id="ccCliente" name="ccCliente" class="form-control input-sm" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Grupo Empresa</label>
                <input type="text" id="ccGrupoEmpresa" name="ccGrupoEmpresa" class="form-control input-sm" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div><!-- /.box-body -->
</div><!-- /.box -->
