@{
    Layout = "~/Views/Shared/_LayoutAdministracao.cshtml";
}

<section class="content-header">
    <h1>
        Minha Conta
        <!-- small>Control panel</!--small -->
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-envelope"></i> Home</a></li>
        <li class="active">Minha Conta</li>
    </ol>
</section>
