/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 100%;
}
 */
div.dataTables_wrapper div.dataTables_processing {
    margin-top: 0px !important;
    z-index: 20 !important;
}

.divEndereco {
    border: solid 1px silver;
    margin-bottom: 1px;
    padding-top: 7px;
}

.aguarde-img {
    color: #000;
    font-size: 30px;
    left: 45%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}

/*jqueryValidate ficar vermelho*/

select.input-validation-error, textarea.input-validation-error, input.input-validation-error {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
    border-color: #b94a48;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
    outline: 0;
}

.container {
    padding-top: 50px;
}
